# Some popular IDEs
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Compiled binaries
/bin/*
/dist/

# Environment variables
.env

# Temporary and local files
.tmp
.DS_Store
node_modules/
/package*.json
